body {
  background-color: #f8f9fa;
  color: #202124;
  font-family: 'Roboto', sans-serif;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #e9ecef;
}
::-webkit-scrollbar-thumb {
  background: #adb5bd;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #868e96;
}

/* Styling for react-pdf */
.react-pdf__Page__canvas {
    margin: 0 auto;
    max-width: 100%;
    height: auto !important;
}